{% extends 'base.html' %}

{% block title %}
<title>Bíblia Max - Selecionar Livros</title>
{% endblock title %}

{% block content %}

     
    <main class="px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Livros</li>
          </ol>
        </nav>

        <h1>Escolha um livro</h1>    
        
        <ul style="column-count: auto; column-width: 15rem;">
            {% for book in books %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto mb-2">
                  <div class="fw-bold"><a href={% url 'chapters' version book.abbreviation %}> {{ book.name }} </a></div>
                 
                </div>                
              </li>            
            {% endfor %}            
          </ol>
      
      
      
    </main>   
    

{% endblock content %}