{% extends 'base.html' %}

{% block content %}
  
    <main class="px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item" aria-current="page"><a href="{% url 'books' %}">Livros</a></li>
              <li class="breadcrumb-item active" aria-current="page">Capítulos</li>
            </ol>
        </nav>

        <h1>Escolha um capítulo do livro {{ book.name }}</h1>
        
        {% for chapter in range %}
            <a class="btn btn-success mb-1" href={% url 'verses' version book.abbreviation chapter %} role="button">{{ chapter }}</a>
        {% endfor %}
        
      
      
      
    </main>   
    

{% endblock content %}