{% extends 'base.html' %}

{% block title %}
<title>Bíblia Max</title>
{% endblock title %}

{% block content %}


  
    <main class="px-3 text-center mt-auto">
      <div class="d-flex flex-row mb-3 gap-2">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Textos bíblicos</h5>
          <p class="card-text">Pesquise pelo texto bíblico sem precisar navegar pelos livros.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Comentários teológicos</h5>
          <p class="card-text">Peça comentários aprofundados sobre um texto de difícil interpretação.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Reflexões bíblicas</h5>
          <p class="card-text">Peça para criar uma reflexão baseado em algum tema.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Conforto e esperança</h5>
          <p class="card-text">Peça ajuda se estiver passando por uma crise.</p>
        </div>
      </div>
      </div>
      <div id="response">
        {% autoescape off %}
        {% endautoescape %}
      </div>
      <form method="post">
        <div class="input-group mb-3 mx-auto vw-50">
          {% csrf_token %}
          <input id="prompt" type="text" name="prompt" class="form-control" placeholder="Como posso te ajudar?" aria-label="Username" aria-describedby="basic-addon1">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="bi bi-send"></i></button>
          
        </div>
      </form>
      <div class="spinner-border d-none" role="status" id="loading">
        <span class="visually-hidden">Loading...</span>
      </div>
    
      <!--
        <a href="#" class="btn btn-lg btn-secondary fw-bold " id="search_button">Buscar</a>
      <a href="{% url 'books' %}" class="btn btn-lg btn-secondary fw-bold ">Livros</a>
      -->
                        
      
    </main>   
    <script type="text/javascript">
      $(document).ready(function() { 
          // Send the form on enter keypress and avoid if shift is pressed 
          $('#prompt').keypress(function(event) { 
              if (event.keyCode === 13 && !event.shiftKey) { 
                  event.preventDefault(); 
                  $('form').submit(); 
              } 
          }); 
          $('form').on('submit', function(event) { 
              event.preventDefault(); 
          // get the CSRF token from the cookie 
          var csrftoken = Cookies.get('csrftoken'); 

          // set the CSRF token in the AJAX headers 
          $.ajaxSetup({ 
              headers: { 'X-CSRFToken': csrftoken } 
          }); 
              // Get the prompt 
              var prompt = $('#prompt').val(); 
              var dateTime = new Date(); 
              var time = dateTime.toLocaleTimeString(); 
              // Add the prompt to the response div 
              $('#response').append('<p class="lead text-end p-3">('+ time + '): ' + prompt + '</p>'); 
              // Clear the prompt 
              $('#prompt').val(''); 
              $('#loading').attr('class', 'spinner-border')
              $.ajax({ 
                  url: '/', 
                  type: 'POST', 
                  data: {prompt: prompt}, 
                  dataType: 'json', 
                  success: function(data) { 
                    var text = marked.parse(data.response)
                    $('#response').append('<div class="lead text-start bg-light p-3">('+ time + '): ' + text + '</div>');
                    $('#loading').attr('class', 'spinner-border d-none') 
                  } 
              });
          }); 
      }); 
    </script>

{% endblock content %}
