{% extends 'base.html' %}

{% block content %}


  
    <main class="px-3 text-center mt-auto">
      <h1>Concordância Bíblica</h1>
      <p class="lead">A maior referência em pesquisa bíblica na internet.</p>
      <div class="input-group mb-3 w-50 mx-auto">
        <input name="search_term" id="search_term" type="text" class="form-control" placeholder="O que você procura?" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <a href="#" class="btn btn-lg btn-secondary fw-bold ">Buscar</a>
      <a href="#" class="btn btn-lg btn-secondary fw-bold ">Livros</a>                  
      
    </main>   
    
    <script type="text/javascript">
      $("#search_term").on('keypress', function(e){
          if(e.which === 13){
            window.location="{% url 'search' 'term' %}".replace(/term/, this.value)            
          }
      });
    </script>

{% endblock content %}
