{% extends 'base.html' %}


{% block content %}
  
    <main class="px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>              
            </ol>
        </nav>
        <div class="row">
            <div class="col-8">
                <h1>Busca por {{term}}</h1>
                {% for verse in verses %}        
                <div class="d-flex align-items-baseline">
                    <p class='lead'>{{ verse.text }} - <span>{{verse}}</span></p>                    
                    <a href={% url 'verse' version verse.verse.book.abbreviation verse.verse.chapter.number verse.verse.number %}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                        </svg>
                    </a>
                </div>
                
                {% endfor%}
            </div>
            <div class="col-4">                

                <select class="form-select mt-2" aria-label="Default select example">
                    <option selected>Escolha um livro</option>
                    {% for b in books %}
                        <option value={{ b.abbreviation }}>{{ b.name }}</option>
                    {% endfor %}
                    
                </select>               
                 
            </div>
        </div>
      
            
    </main>   
    

    <script type="text/javascript">
        $('select').on('change', function(e){                        
            window.location="{% url 'verses' 'acf' 'abbr' 1 %}".replace(/abbr/, this.value)
        });
    </script>
{% endblock content %}