{% extends 'base.html' %}

{% block title %}
<title>Bíblia Max - Apoie esse projeto</title>
{% endblock title %}

{% block content %}

<main class="px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agradecimento</li>
      </ol>
    </nav>

    <h2>Agradecemos sua contribuição.</h2>
    <p class="lead">Sua doação permite que nosso trabalho continue.</p>
    <div class="spinner-border" role="status" id="spinner">
      <span class="visually-hidden">Loading...</span>
    </div>       

    <div id="statusScreenBrick_container"></div>

    
</main>

<script src="https://sdk.mercadopago.com/js/v2"></script>
<script type="text/javascript">
  const mp = new MercadoPago("{{ api_key }}");
  const bricksBuilder = mp.bricks();

  const renderStatusScreenBrick = async (bricksBuilder) => {
  const settings = {
    initialization: {
      paymentId: "{{ payment_id }}", // id do pagamento a ser mostrado
    },
    callbacks: {
      onReady: () => {
        /*
          Callback chamado quando o Brick estiver pronto.
          Aqui você pode ocultar loadings do seu site, por exemplo.
        */
       $("#spinner").addClass("d-none");
      },
      onError: (error) => {
        // callback chamado para todos os casos de erro do Brick
        console.error(error);
      },
    },
    };
    window.statusScreenBrickController = await bricksBuilder.create(
    'statusScreen',
    'statusScreenBrick_container',
    settings,
    );  
  };
  renderStatusScreenBrick(bricksBuilder);

</script>

{% endblock content %}