{% extends 'base.html' %}

{% block title %}
<title>Bíblia Max - Apoie esse projeto</title>
{% endblock title %}

{% block content %}

<main class="px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agradecimento</li>
      </ol>
    </nav>

    <h2>Agradecemos sua contribuição.</h2>
    <p class="lead">Sua doação permite que nosso trabalho continue.<br>
      Qualquer dúvida, entre em contato conosco através do email contato@bibliamax.com

    </p>               

    
</main>

{% endblock content %}