{% extends 'base.html' %}
{% load webapp_extras %}

{% block title %}
<title>Bíblia Max - Apoie esse projeto</title>
{% endblock title %}

{% block content %}

<main class="px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Apoie esse projeto</li>
      </ol>
    </nav>

    <h2>Sem propagandas.</h2>
    <p class="lead">Não há nada de errado com a publicidade e propaganda em um website. 
        No entanto, eles não têm lugar aqui no Bíblia Max. Não trabalhamos com publicide nesse site pois não queremos que haja
      interferência em sua leitura bíblica.</p>
    
    <p class="lead">Por isso necessitamos de doações. Manter um site não é barato. 
      É preciso pagar as despesas de hospedagem, domínio, e programadores.</p>
    
    <p class="lead">Além disso, uma parte da verba arrecada é destinado a obras de caridade. 
      Se o BibliaMax é importante para você, considere fazer uma doação.</p>
    
    <div class="container text-bg-light p-4">
      <form action={% url 'support' %} method="post">
      {% csrf_token %}
      <fieldset class="mb-3">
        <legend>Faça sua doação</legend>
        {% for value in values %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="quantity" id="quantity{{ forloop.counter }}" value="{{ value }}">
          <label class="form-check-label" for="quantity{{ forloop.counter }}">
            R$ {% multiply value 30 %}
          </label>
        </div>
        {% endfor %}      
    </fieldset>    
    <button type="submit" name="cartao" class="btn btn-primary">Fazer doação</button>    
    </form>
  </div>


        
        
    
</main>

{% endblock content %}