{% extends 'base.html' %}

{% block title %}
<title>Bíblia Max - Apoie esse projeto</title>
{% endblock title %}

{% block content %}

<main class="px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Apoie esse projeto</li>
      </ol>
    </nav>

    <h2>Sem propagandas.</h2>
    <p class="lead">Não há nada de errado com a publicidade e propaganda em um website. 
        No entanto, eles não têm lugar aqui no Bíblia Max. Não trabalhamos com publicide nesse site pois não queremos que haja
      interferência em sua leitura bíblica.</p>
    
    <p class="lead">Por isso necessitamos de doações. Manter um site não é barato. 
      É preciso pagar as despesas de hospedagem, domínio, e programadores.</p>
    
    <p class="lead">Além disso, uma parte da verba arrecada é destinado a obras de caridade. 
      Se o BibliaMax é importante para você, considere fazer uma doação.</p>



        
        
    
</main>

{% endblock content %}