{% extends 'base.html' %}

{% block title %}
<title>Bíblia Max - Versões disponíveis </title>
{% endblock title %}

{% block content %}
  
    <main class="px-3">
        <h1>Versões disponíveis da bíblia.</h1>    
        
        <ul style="column-count: auto; column-width: 15rem;">
            {% for v in versions %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto mb-2">
                  <div class="fw-bold"><a href={% url 'versions' v.abbreviation %}> {{ v.name }} </a></div>
                </div>                
              </li>            
            {% endfor %}            
          </ol>
      
      
      
    </main>   
    

{% endblock content %}